<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Lab</title>
 </head>
 <body>
  <p>Puppy Name:</h1>
  <br>
  <p><%=params[:name]%></p>
  <p>Puppy Breed:</h1>
  <br>
  <p><%=params[:breed]%></p>
  <p>Puppy Age:</h1>
  <br>
  <p><%=params[:age]%></p>
 </body>
</html>